body {
    font-family: Arial, sans-serif;
    background-image: url('/kantor/img/imgbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.exchange-rate {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 14px;
    z-index: 9999;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(47, 54, 64, 0.9);
    text-align: center;
    width: 150px;
}
.exchange-rate-title {
    font-weight: bold;
    margin-bottom: 10px;
}
.exchange-rate-item {
    margin-bottom: 10px;
}
.container {
    background-color: rgba(47, 54, 64, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
    margin-top: 20px;
}
label, h1{
    font-weight: bold;
    color : white;
    font-size: 21px;
}
input[type="number"],
input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.error-message {
    color: red;
    margin-bottom: 10px;
}
a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    text-align: center;
}
a:hover {
    text-decoration: underline;
}
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.user-info {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.user-info span {
    color: #007bff;
}
.refresh-button {
    position: flex;
    bottom: -10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    z-index: 9999;
    text-decoration:none;
}
.refresh-button:hover {
    text-decoration:none;
    background-color: #0056b3;
}
.user-actions a{
    position: flex;
    bottom: -10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    z-index: 9999;
    text-decoration:none;
    text-align: center;
}
.user-actions a:hover {
    background-color: #0056b3;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.container table {
    border-collapse: collapse;
    width: 100%;
}

.container th, td {
    color: white;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.kreseczka{
    border-bottom: none;
}

.add-user-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.add-user-link:hover {
    text-decoration: none;
    background-color: #0056b3;
}

.wallet-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.wallet-link:hover {
    text-decoration: none;
    background-color: #0056b3;
}
.exchange-rate2 {
    position: fixed;
    top: 225px;
    right: 20px;
    color: white;
    font-size: 14px;
    z-index: 9999;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(47, 54, 64, 0.9);
    text-align: center;
    width: 150px;
    margin: 0,0,0,0;
    justify-content: center;
}
.refresh-button2 {
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    z-index: 9999;
    text-decoration:none;
}
.refresh-button2:hover {
    text-decoration: none;
    background-color: #0056b3;
}
.mini{
    font-size: 18px;
}